<body style="background: #000;">
  <a style="position: absolute;
  width: 942px;
  height: 200px;
  left: 489px;
  top: 67px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 200px;
  line-height: 234px;

  color: #FFFFFF;">Download</a>
  <a href="index.html"><img src="goBack_BTN.png" style="position: absolute;
  width: 229px;
  height: 74px;
  left: 114px;
  top: 167px;"></a>
  <a href=""><img src="DownloadForLinux_BTN.png" style="position: absolute;
  width: 348px;
  height: 74px;
  left: 786px;
  top: 317px;"></a>
  <a href=""><img src="DownloadForWindows_BTN.png" style="position: absolute;
  width: 348px;
  height: 74px;
  left: 786px;
  top: 441px;"></a>
  <a href=""><img src="DownloadForMacOS_BTN.png" style="position: absolute;
  width: 348px;
  height: 74px;
  left: 786px;
  top: 565px;"></a>
  <a href=""><img src="DownloadForIOS_BTN.png" style="position: absolute;
  width: 348px;
  height: 74px;
  left: 786px;
  top: 689px;"></a>
  <a href=""><img src="DownloadForAndroid_BTN.png" style="position: absolute;
  width: 348px;
  height: 74px;
  left: 786px;
  top: 813px;"></a>
</body>
