<body style="background: #000;">
  <link rel="stylesheet" href="styles.css">
  <a href="download.html"><img src="Download_BTN.png" style="position: absolute;
  width: 348px;
  height: 74px;
  left: 786px;
  top: 706px;"></a>
  <p style="position: absolute;
  width: 942px;
  height: 200px;
  left: 489px;
  top: 67px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 200px;
  line-height: 234px;

  color: #FFFFFF;
  ">Term$tikØ</p>
</body>
