<img src="./webAppAssets/TerminalBackground.png" style="position: absolute;
  width: 1546px;
  height: 784px;
  left: 186px;
  top: 148px;">
<p style="position: absolute;
width: 1006px;
height: 47px;
left: 240px;
top: 191px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 47px;
/* identical to box height */


color: #FFFFFF;">Teszt</p>
<p style="position: absolute;
width: 405px;
height: 70px;
left: 757px;
top: 10px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: 70px;

color: #000000;">Term$tikØ v1.0</p>
